.RestaurantForm {
  background: url("https://images.unsplash.com/photo-1555813456-94a3dd418cd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1226&q=80") no-repeat center center fixed;
  @if (line105) {
    background-size: cover;
  } @else {
    height: 100vh;
  }
  h1 {
    color: white;
  }
  .results {
    margin-top: 20px;
  }
}
